<% if logged_in? %>
<p>ログイン完了ユーザー<%= current_user.name %></p>
<%= render 'tasks/tasks' %>
<% else %>
<div class="center jumbotron">
    <div class="text-center">
        <h1>Task List</h1>
         <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>